.session-item {
  padding: 12px;
  border-bottom: 1px solid var(--border);
  &-header {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 24px;
  }
  &-text {
    font-size: 0.875rem !important;
  }
  &-sub {
    font-size: 0.75rem !important;
    font-weight: 500;
    color: var(--primary-color-sub) !important;
  }
  &-divider {
    height: 100%;
    border-right: 1px solid var(--border);
    margin: 0px 16px;
  }
}
