.ticket-info {
  &-description {
    width: 100%;
    padding: 16px 0px;

    &-sub {
      color: var(--primary-color-sub) !important;
      min-width: 74px;
      margin-right: 16px;
      font-size: 0.875rem !important;
    }
    &-text {
      font-size: 0.875rem !important;
    }
  }
  &-btns {
    width: 100%;
    button {
      width: 100%;
    }
  }
}
