@import "@/scss/mixins";

.about-tab {
  &-info {
    padding: 12px;
    &:not(:last-child) {
      border-right: 1px solid var(--border);
    }
    @include flex(center, center);
    &-content {
      text-align: center;
    }
    &-sub {
      text-align: center;
      color: var(--primary-color-sub) !important;
      font-weight: 400 !important;
      padding-top: 2px;
    }
  }
  &-text {
    font-size: 0.875rem !important;
  }
  &-sub {
    color: var(--primary-color-sub) !important;
    min-width: 74px;
    margin-right: 16px;
    font-size: 0.875rem !important;
  }
}

.select-session {
  position: fixed;
  width: 100%;
  max-width: min(calc(100dvw - 32px), 768px);
  bottom: 0px;
  padding: 16px 0px;
  button {
    width: 100%;
  }
}
