.bookingboard-preview-mode {
  display: grid;
  grid-gap: 8px;
  max-width: 320px;
  grid-template-columns: repeat(15, 1fr);
  .preview-item {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    &.available {
      background-color: var(--foreground);
    }
    &.choosen {
      background-color: var(--secondary-color);
    }
  }
}

.bookingboard-selection-mode {
  display: grid;
  padding: 0px 16px 16px 16px;
  grid-gap: 8px;
  grid-template-columns: repeat(15, 1fr);
  position: relative;
  overflow: auto;

  .preview-item {
    width: 32px;
    height: 32px;
    padding: 7px 11px;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem !important;
    font-weight: 500;
    color: var(--primary-color);
    &.available {
      background-color: var(--foreground);
      cursor: pointer;
      &:hover {
        background-color: var(--secondary-color);
      }
    }
    &.choosen {
      cursor: pointer;
      background-color: var(--secondary-color);
    }
  }
}

.right-gradient {
  top: 0px;
  right: -10px;
  width: 40px;
  opacity: 0.5;
  height: calc(100% - 16px);
  position: absolute;
  background: linear-gradient(270deg, #484848 63.02%, rgba(20, 20, 20, 0) 100%);
}

.left-gradient {
  top: 0px;
  left: -8px;
  width: 40px;
  opacity: 0.5;
  height: calc(100% - 16px);
  position: absolute;
  background: linear-gradient(90deg, #484848 63.02%, rgba(20, 20, 20, 0) 100%);
}
