.date-picker-wrapper {
  position: relative;
}

.ant-picker {
  width: 100%;
  height: 150%;
  transform: rotate(90deg);
  top: -20px;
  left: 0px;
  cursor: pointer;
  position: absolute !important;
  background: transparent !important;
  border-color: transparent !important;
  input {
    display: none !important;
  }
}

.picker-popup {
  .ant-picker-cell-selected {
    .ant-picker-cell-inner {
      background-color: var(--secondary-color) !important;
    }
  }
  .ant-picker-cell-today {
    .ant-picker-cell-inner {
      &::before {
        border: 1px solid var(--secondary-color) !important;
      }
    }
  }
  .ant-picker-footer {
    display: none;
  }
}
