$bg-main: #000;
$bg-dark: #222222;
$foreground: #333333;
$primary-color: #ffffff;
$primary-color-sub: rgba(255, 255, 255, 0.5);
$secondary-color: #d45161;
$secondary-color-hover: rgba(255, 81, 97, 0.8);

$secondary-dark: #637394;
$border: rgba(85, 85, 85, 0.5);
