.film-session-header {
  width: 100%;
  position: relative;
  height: 100%;

  &-cinema {
    font-size: 1.125rem;
    font-weight: 700;
  }
  &-film {
    font-size: 0.875rem !important;
    color: var(--secondary-dark) !important;
  }
}
